/* Add here all your CSS customizations */
.back-img{
    background-image: url(../img/IMG-INDEX/IMG-INDEX-SLIDE/SLIDE1.jpg);
    position: relative;
    height: 100%;
    width: 100%;
    
}

html .opcao {
	background-color: #262626;
	border-color: #33BCD0 #33BCD0 #006699; 
	color: #000;
}
.bloco-precos{
   padding: 10px 30px;
   
  
}

.bloco-precos .plan, .plan-footer{
    border-radius: 10px;
}
.fa-check{
    color: green;
}
.btn-danger{
border-color: #3878E6;
background: #33BCD0;
}
.btn-danger:hover{
    border-color: #3878E6;
    background-color: #2B9D4A;
}